<div class="tarjeta-proyecto">
  <img [src]="proyecto().imagen" [alt]="proyecto().nombre" class="imagen-proyecto">
    <h2>{{proyecto().nombre}}</h2>
    <h2>{{proyecto().descripcion}}</h2>

    <h2 class="tecnologias">
        @for(tec of proyecto().tecnologias;track tec){
            <span class="tecnologia">{{tec}}</span>
        }
    </h2>


  <app-boton-componente
   
    [urlRedireccion]="proyecto().urlGithub"
    [labelBoton]="'Ver en Github'"
    [colorFondo]="'#333'"
  >
  </app-boton-componente>
 </div>