/* Botón solo icono */
.icon-button {
  background: transparent; /* transparente para no tapar imagen/fondo */
  border: none;
  cursor: pointer;
  padding: 0; /* ajustado a 0 para que la imagen quede exacta */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

/* Imagen dentro del botón */
.button-image {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* FontAwesome */
i {
  font-size: 1.8rem;
  /* color definido en línea: style="color:white;" */
}
