@if (imagenBoton()) {
  <!-- Botón sólo icono / imagen -->
  <button
    class="icon-button"
    (click)="handleClick()"
    [style.width.px]="tamano() || 160"
    [style.height.px]="tamano() || 160"
    [style.border]="tamano() === 160 ? '3px solid black' : 'none'"
  >
    @if (ifFontAwesome()) {
      <i [class]="imagenBoton()" style="color: white;"></i>
    } @else {
      <img [src]="imagenBoton()" [alt]="labelBoton()" class="button-image">
    }
  </button>
} @else {
  <!-- Botón normal con colorFondo -->
  <button
    class="general-button"
    [style.width.px]="tamano()"
    [style.height.px]="tamano()"
    [style.background-color]="colorFondo() || '#0e76a8'"
    [style.color]="getTextColor(colorFondo() || '#0e76a8')"
    (click)="handleClick()"
  >
    <span class="button-label">{{ labelBoton() }}</span>
  </button>
}
