<header class="header">
  <div class="header-content">
    <!-- Botón de imagen de perfil grande -->
    <app-boton-componente
      [imagenBoton]="'assets/me.jpg'"
      [urlRedireccion]="'sobremi'"
      [labelBoton]="'Sobre Mí'"
      class="profile-button">
    </app-boton-componente>

    <div class="intro-and-buttons">
      <div class="intro-text">
        <h1>Antonio Sobrino Martín</h1>
        <p>Desarrollador Frontend Junior</p>
      </div>

      <div class="botonesHeader">
        <app-boton-componente
          [urlRedireccion]="'sobremi'"
          [labelBoton]="'Sobre Mí'"
          [colorFondo]="'green'">
        </app-boton-componente>

        <app-boton-componente
          [urlRedireccion]="'habilidades'"
          [labelBoton]="'Habilidades'"
          [colorFondo]="'blue'">
        </app-boton-componente>
        <app-boton-componente
          [urlRedireccion]="'portfolio'"
          [labelBoton]="'PortFolio'"
          [colorFondo]="'black'">
        </app-boton-componente>
      </div>
    </div>
  </div>
</header>
