.footer {
  background-color: #0a0a0a;
  color: #fff;
  padding: 1rem 2rem;
  height: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0e76a8; /* Azul LinkedIn */
}

/* segundo enlace (GitHub) */
.social-links a:nth-child(2):hover {
  color: #6e5494; /* Morado GitHub */
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-right: 5%;
}

.contact i {
  font-size: 1rem;
}

.contact:hover {
  color: #0e76a8;
}
.aviso-angular {
  font-size: 0.75rem;     /* texto pequeño */
  color: inherit;         /* usa el color ya definido (por ejemplo #fff) */
  text-align: center;
  margin: 0 1rem;         /* separación lateral ligera */
  align-self: flex-end;   /* lo coloca visualmente hacia abajo dentro del flex */
  line-height: 1;         /* evita saltos de línea extra */
}