<footer class="footer">
  <div class="footer-content">
    <div class="social-links">
      <app-boton-componente
        [imagenBoton]="'fab fa-linkedin'"
        [urlRedireccion]="linkedinUrl"
        [labelBoton]="'LinkedIn'"
        [colorFondo]="'black'"
      >
      </app-boton-componente>
      <app-boton-componente
        [imagenBoton]="'fab fa-github'"
        [urlRedireccion]="githubUrl"
        [labelBoton]="'GitHub'"
        [colorFondo]="'#333'"
      >
      </app-boton-componente>
    </div>
    <div class="contact" (click)="contactByEmail()">
      <span>¡Contáctame por correo!</span>
      <i class="fas fa-arrow-right"></i>
    </div>
  </div>
</footer>